.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 15px;
    width: 350px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 0.5px solid rgb(25, 53, 25);
    transition: background-color 0.5s ease;
  }
  
  #computer-detai {
    display: table;
    clear: both;
    height: 70%;
    width: 100%;
    margin: 0 auto;
  }
  
  #computer-detail:hover {
    background-color: #c9c4c4;
  }
  
  #computer-image {
    float: left;
    width: 30%;
    height: 55%;
  }
  
  .computer-addressess {
    float: left;
    width: 70%;
    height: 55%;
    padding: 10px;
  }
  
  .computers-info {
    font-size: 15px;
  }
  
  #image {
    widows: 60px;
    height: 60px;
    display: block;
    margin: auto;
  }
  
  #title {
    text-align: center;
    font-size: 30px;
    padding: 1%;
  }
  .btn-generate{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
  }
  .btn-close-window{
    width: 100%;
  }
  .generate-parameters{
    text-align: center;
  }
  .spinner-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    margin-bottom: 20px;
  }
.processing-generate{
  font-size: 12px;
}
  .correct-text{
    color: rgb(41, 235, 41);
    display: block;
    margin-top:80px;
  }

  .incorrect-text{
    color: red;
    display: block;
    margin-top:80px;
  }