<table
  class="table table-dark"
  *ngFor="let parameter of processorParameters">
  <thead>
    <tr>
        <th colspan="3" scope="colgroup" class="table-tittle"><img id="image" src="/assets/images/cpu.png"/>Procesor</th>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Parametr</th>
      <th scope="col">Wartość</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Szybkość zegara</td>
      <td>{{ parameter.currentClockSpeed }} Mhz </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Opis</td>
      <td>{{ parameter.description }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rozmiar pamięci l2</td>
      <td>{{ parameter.l2CacheSize }} MB</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Szybkość pamięci l2</td>
      <td>{{ parameter.l2CacheSpeed }} Mhz</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Rozmiar pamięci l3</td>
      <td>{{ parameter.l3CacheSize }} MB</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Szybkość pamięci l3</td>
      <td>{{ parameter.l3CacheSpeed }} Mhz</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Producent</td>
      <td>{{ parameter.manufacturer }}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Maksymalna prędkość zegara</td>
      <td>{{ parameter.maxClockSpeed }} Mhz</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Nazwa</td>
      <td>{{ parameter.name }}</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Ilość rdzeni</td>
      <td>{{ parameter.numberOfCores }}</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Ilość dostępnych rdzeni</td>
      <td>{{ parameter.numberOfEnabledCores }}</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Ilość procesorów logicznych</td>
      <td>{{ parameter.numberOfLogicalProcessors }}</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Status</td>
      <td>{{ parameter.status }}</td>
    </tr>
  </tbody>
</table>
