<table
  class="table table-dark" *ngIf="usersParameters"
>
  <thead>
    <tr>
        <th colspan="3" scope="colgroup" class="table-tittle"><img id="image" src="/assets/images/users.png"/>Użytkownik</th>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Parametr</th>
      <th scope="col">Wartość</th>
    </tr>
  </thead>
  <tbody *ngFor="let parameter of usersParameters">
    <tr>
      <th scope="row">1</th>
      <td>Podpis</td>
      <td>{{ parameter.caption }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Opis</td>
      <td>{{ parameter.description }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Wyłączony</td>
      <td>{{ parameter.disabled }}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Pełna nazwa</td>
      <td>{{ parameter.fullName }}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Konto lokalne</td>
      <td>{{ parameter.localAccount }}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Nazwa</td>
      <td>{{ parameter.name }}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Hasło zmienialne</td>
      <td>{{ parameter.passwordChangeable }}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Hasło wygasa</td>
      <td>{{ parameter.passwordExpires }}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Hasło wymagane</td>
      <td>{{ parameter.passwordExpires }}</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Status</td>
      <td>{{ parameter.status }}</td>
    </tr>
  </tbody>
</table>
