@import "~bootstrap/dist/css/bootstrap.min.css";

#set-network-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-color: lightslategrey;
}
.btn {
  width: 100%;
}

.network-texts {
  font-size: 18px;
}

.title {
  text-align: center;
  font-size: 23px;
}
