.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 300px;
  padding: 2px;
  margin: 5px;
  transition: background-color 0.5s ease;
}

.flex-container-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.flex-container-table > div {
  background-color: #f1f1f1;
  width: 49%;
  padding: 2px;
  margin: 5px;
  transition: background-color 0.5s ease;
}
table td {
  word-break: break-all;
  font-size: 14px;
}
table tbody {
  border-top: 5px solid gray;
}

.label-text {
  cursor: pointer;
  font-size: 13px;
}
.input {
  cursor: pointer;
}
#container-check {
  padding-top: 30px;
  margin: 0 auto;
  width: 100%;
}
.centered {
  text-align: center;
  justify-content: center;
}
.position-check-uncheck-all {
  width: 95%;
  margin: 0 auto;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
}
h3 {
  padding: 30px;
}
h4 {
  padding: 15px;
}
.form-control {
  margin: 0 auto;
  width: 25%;
}

#computer-detail:hover {
  background-color: #c9c4c4;
}

#computer-image {
  float: left;
  width: 30%;
  height: 55%;
}

.computer-addressess {
  float: left;
  width: 70%;
  height: 55%;
  padding: 10px;
}

#image {
  widows: 40px;
  height: 40px;
  display: block;
  margin: auto;
}
.table-tittle {
  text-align: center;
  font-size: 20px;
  padding: 2%;
}
#title {
  text-align: center;
  font-size: 30px;
  padding: 1%;
}
#image-table {
  widows: 50px;
  height: 50px;
  margin-right: 1em;
}
#computer-names-container {
  width: 65%;
  margin: 0 auto;
}
