<table
  class="table table-dark"
  *ngFor="let parameter of internalMemoriesParameters"
>
  <thead>
    <tr>
        <th colspan="3" scope="colgroup" class="table-tittle"><img id="image" src="/assets/images/operating-system.png"/>System operacyjny</th>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Parametr</th>
      <th scope="col">Wartość</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Producent</td>
      <td>{{ parameter.manufacturer }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Etykieta slotu</td>
      <td>{{ parameter.bankLabel }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Numer seryjny</td>
      <td>{{ parameter.serialNumber }}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Podpis</td>
      <td>{{ parameter.serialNumber }}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Opis</td>
      <td>{{ parameter.description }}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Nazwa</td>
      <td>{{ parameter.name }}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Lokalizator urządzenia</td>
      <td>{{ parameter.deviceLocator }}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Pojemność</td>
      <td>{{ parameter.capacity }}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Typ pamięci</td>
      <td>{{ parameter.memoryType }}</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Typ</td>
      <td>{{ parameter.typeDetail }}</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Szybkość</td>
      <td>{{ parameter.speed }}</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Status</td>
      <td>{{ parameter.status }}</td>
    </tr>
  </tbody>
</table>
