.table {
  width: 60%;
  margin: 0 auto;
  margin-top: 1%;
}
  #image-table {
    widows: 60px;
    height: 60px;
    margin-right: 1em;
  }
  .table-tittle {
    text-align: center;
    font-size: 25px;
    padding: 2%;
  }
  table tbody {
    border-top: 5px solid gray;
  }