<table
  class="table table-dark" *ngIf="installedApplicationsParameters"
>
  <thead>
    <tr>
        <th colspan="3" scope="colgroup" class="table-tittle"><img id="image" src="/assets/images/applications.png"/>Zainstalowane aplikacje</th>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Parametr</th>
      <th scope="col">Wartość</th>
    </tr>
  </thead>
  <tbody *ngFor="let parameter of installedApplicationsParameters">
    <tr>
      <th scope="row">1</th>
      <td>Nazwa</td>
      <td>{{ parameter.name }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Podpis</td>
      <td>{{ parameter.caption }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Opis</td>
      <td>{{ parameter.description }}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Numer identyfikacyjny</td>
      <td>{{ parameter.identifyingNumber }}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Sprzedawca</td>
      <td>{{ parameter.vendor }}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Wersja</td>
      <td>{{ parameter.version }}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Data zainstalowania</td>
      <td>{{ parameter.installDate }}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Miejsce instalacji</td>
      <td>{{ parameter.installSource }}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Lokalne pakiety</td>
      <td>{{ parameter.localPackages }}</td>
    </tr>
  </tbody>
</table>
